@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --cci-red: #DF4E4E;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-anton: var(--font-anton);
  --font-lato: var(--font-lato);
  --font-fashand: var(--font-fashand);
  --color-cci-red: var(--cci-red);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lato);
  overflow-x: hidden;
}